<!doctype html>
<html lang="en" ng-app="myApp" style="min-width:600px;">


<head>
  <meta charset="utf-8">
  <title>Privacy Guard</title>
  <!--link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.css"-->
  <script src="jquery-2.0.3.js"></script>
  <link rel="stylesheet" href="bootstrap-dist/css/bootstrap.min.css" type="text/css"/>
  <link rel="stylesheet" href="index.css" type="text/css"/>
  <script src="bootstrap-dist/js/bootstrap.min.js"></script>

  <script src="js/underscore.js"></script>
  <script src="js/angular.js"></script>
  <script src="index.js"></script>


</head>
<body style="margin:2em">

<h1>Privacy Guard <span style="font-size:50%">for Google Chrome</span></h1>

<div ng-controller="AppsCtrl">

  <ul class="factor-tabs nav nav-tabs">

    <li id="factor-high" ng-class="{active: curFactor == 'high'}">
      <a ng-click="updateRiskFactor('high',true)" href="#">
        High Risk
        <span class="badge badge-error">{{ numHigh }}</span>
      </a>
    </li>

    <li ng-class="{active: curFactor == 'med'}">
      <a ng-click="updateRiskFactor('med',true)" href="#">Medium Risk
        <span class="badge badge-warning">{{ numMed }}</span>
      </a>
    </li>

    <li ng-class="{active: curFactor == 'low'}">
      <a ng-click="updateRiskFactor('low',true)" href="#">Low Risk
        <span class="badge">{{ numLow }}</span>
      </a>
    </li>

  </ul>
<p>

Show: 

<!--input type="checkbox" checked ng-click="updateFilter('apps')" /> Apps 
<input checked type="checkbox" ng-click="updateFilter('extensions')" /> Extensions -->

<input type="checkbox" ng-model="showApps" /> Apps 
<input checked type="checkbox" ng-model="showExtensions" /> Extensions

, Filter <input ng-model="searchText" type="text" />

<div id="progressbar" class="progress progress-striped active" style="height:10px; display:none">
  <div id="progressbar-width" class="progress-bar progress-bar-warning"  role="progressbar" style="width: 45%">
    <span class="sr-only"></span>
  </div>
</div>


</p>

    <ul>
      <li ng-repeat="app in apps | filter:customSearch">
        
<div  ng-class="{appDisabled: app.opts.data.enabled == false}">

        <a href="#" ng-click="clickApp(app)">
          <img src="{{app.getIcon(16)}}" style="width:16px; height:16px" />


          {{app.name}}

        </a>
        - {{ app.version }} - {{ app.info }}


        
        <a ng-if="app.authorUrl()" href="{{ app.authorUrl() }}" target="_blank">
        {{ app.showAuthor() }}</a>,

        <span ng-if="! app.authorUrl()">{{ app.showAuthor() }}</span>

        {{ app.showUsers() }}

</div>

      </li>
    </ul>
  </div>
 
</body>
</html>
